@import "tailwindcss";
@plugin '@tailwindcss/typography';
:root {
    background-repeat: no-repeat;
}
/*
* {
    margin: 0;
    padding: 0;
    border: 0;
}*/
body {
    padding-top: 0;
    padding-bottom: 0;
}
h1 {
    font-size: 3rem;
    font-family: "Akira Expanded";
}

a {
    font-size: 1.25rem;
    text-decoration: underline;
    font-size: inherit;
    color: wheat;
}
button {
    transition: 10ms ease-in-out;
    border: solid transparent;
    border-radius: 5px;
    margin: 5px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}
button:active {
    transition: 10ms ease-in-out;
    background-color: rgba(255, 255, 255, 0.25);
}
iframe {
    margin: 50px;
}
hr {
    opacity: 0.5;
    margin-left: 1%;
    margin-right: 1%;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1%;
    align-items: center;
}
#nav2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: wheat;
}
.nav-icons {
    width: 23px;
    color: wheat;
}
.nav-sector {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 500px) {
    #MAIN {
        flex-direction: column;
    }
    nav {
        text-align: center;
    }
    .nav-sector {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.05);
        margin: 5px;
        padding: 2%;
        border: solid transparent;
        border-radius: 10px;
    }
    .nav-sector:hover {
        background-color: rgba(255, 255, 255, 0.15);
        transition: background-color;
    }
    .nav-sector:active {
        background-color: rgba(255, 255, 255, 0.25);
        transition: background-color;
    }
    .Time {
        background-color: rgba(255, 255, 255, 0.05);
        padding: 2%;
        border: solid transparent;
        border-radius: 25px;
        min-height: 11rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    button {
        height: 3rem;
        width: 100%;
    }
    footer {
        min-height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        /*border: solid red 1px;*/
    }
}

.doggo {
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
